body {
  background: #edeff5; }

.bluebg {
  background: #1B365D; }

.orangebg {
  background: #eb6a2c; }

.greybg {
  background: #edeff5; }

.darkgreybg {
  background: #39414e; }

.bluetext {
  color: #1B365D; }

.orangetext {
  color: #eb6a2c; }

.greytext {
  color: #edeff5; }

.darkgreytext {
  color: #39414e; }
