$blue: #1B365D;
$orange: #eb6a2c;
$grey: #edeff5;
$darkgrey: #39414e;

body {
    background: $grey;
}
.bluebg {
    background: $blue;
}
.orangebg {
    background: $orange;
}
.greybg {
    background: $grey;
}
.darkgreybg {
    background: $darkgrey;
}
.bluetext {
    color: $blue;
}
.orangetext {
    color: $orange;
}
.greytext {
    color: $grey;
}
.darkgreytext {
    color: $darkgrey;
}